<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Handle</h2>
	<p><%= @handle %></p>

    <h2>Url</h2>
	<p><%= @url %></p>

    <h2>Save Path</h2>
	<p><%= @save_path %></p>
  </body>
</html>