<h1>Search for a series name:</h1>
<form id = "Search" action = "/listseries/re" method = "post">
  Name of Series: <input type="text" name="name"><br><br>
  <input type="submit" value="Search">
</form>
