<p><script type="text/javascript"
src="https://www.google.com/jsapi">

</script>   <script type="text/javascript">

google.load("visualization", "1", {packages: ["table"]});
google.load("visualization", "1", {packages:["corechart"]});

function gdata_to_csv(data) {
	datajson = eval("("+data.toJSON()+")");
	var csv_string = datajson.cols.map(function(elem){return elem.label; }).join() + "\n";
	datajson.rows.map(function(row) { csv_string += row.c.map(function(cell){ return cell.v; }).join() + "\n"; });
	return csv_string;
}


//////////////////////////////////////////////////////////
google.setOnLoadCallback(draw_charts);

///////////////////////////////////////////////////////////


function draw_charts() {

	var all_props = { curveType: "none",
		                width: 375, 
						height: 320,
		                chartArea: { height: 160},
		               	vAxis: {textStyle: {fontSize: 11}, maxValue: 11},
		                title: 'UNEMPLOYMENT RATES, STATE OF HAWAII',
		                titleTextStyle: {color: '#297B92', fontSize: 14},
		                legend: {position:"none", textStyle:{color:'#555555'}},
		                series: [{color: '#267991', targetAxisIndex: 0, type:'line'}],
		                lineWidth: 2,
		             	hAxis: {	
		//			showTextEvery: '2', 
					slantedText: true, 
					slantedTextAngle: '45', 
					textStyle: {fontSize: 10}
					},
		               backgroundColor: '#F9F9F8'
			};
		

			<% 
			loop_data = [ 
			{:bar_data => "UR@HON.M", :plot_data => "UR@HON.M", :div_label => "chart2", :chart_title => "Honolulu County", :width => "375", :height => "320", :chart_area => "160", :indicator => "2"},
			{:bar_data => "UR@HAW.M", :plot_data => "UR@HAW.M", :div_label => "chart3", :chart_title => "Hawaii County", :width => "375", :height => "320", :chart_area => "160", :indicator => "3"},
			{:bar_data => "UR@MAU.M", :plot_data => "UR@MAU.M", :div_label => "chart4", :chart_title => "Maui County", :width => "375", :height => "320", :chart_area => "160", :indicator => "4"},
			{:bar_data => "UR@KAU.M", :plot_data => "UR@KAU.M", :div_label => "chart5", :chart_title => "Kauai County", :width => "375", :height => "320", :chart_area => "160", :indicator => "5"},
			{:bar_data => "UR@HI.M", :plot_data => "UR@HI.M", :div_label => "chart1", :chart_title => "State of Hawaii", :width => "750", :height => "500", :chart_area => "300", :indicator => "1"},
			].each do |iteration_data| %>

			<%= render :file => 'app/views/dashboards/_individual_google_chart2.html.erb', :locals => {
				:plot_data => iteration_data[:plot_data].ts.get_values_after_including("2006-01-01").sort, 
				:chart_title => iteration_data[:chart_title], 
				:div_label => iteration_data[:div_label], 
				:width => iteration_data[:width],
				:height => iteration_data[:height],
				:chart_area => iteration_data[:chart_area],
				:indicator => iteration_data[:indicator]
				}
				%>

			<% end %>

}
</script></p>


<p><style type="text/css">

div#chartlist div.cnty a.createbutton {margin-left:50px;}
div#chartlist div.cnty { width: 375; float:left; }
h3 {display:block; clear:both; margin-top:20px;}
p {clear:both;}
div#chart1 {width: 750px; }

</style></p>

<p><b>Source:</b> &nbsp;U.S. Department of Labor, Bureau of Labor Statistics, and Hawaii Department of Labor and Industrial Relations<br />
<i>Unemployment rates are seasonally adjusted by UHERO</i></p>
<div id="chartlist">
<div class="cnty">
<div id="chart2">&nbsp;</div>
<a class="createbutton" id="data2" href="#">download data</a></div>
<div class="cnty">
<div id="chart3">&nbsp;</div>
<a class="createbutton" id="data3" href="#">download data</a></div>
<div class="cnty">
<div id="chart4">&nbsp;</div>
<a class="createbutton" id="data4" href="#">download data</a></div>
<div class="cnty">
<div id="chart5">&nbsp;</div>
<a class="createbutton" id="data5" href="#">download data</a></div>
<div class="cnty">
<h3><br />
Statewide Unemployment</h3>
<div id="chart1">&nbsp;</div>
<a class="createbutton" id="data1" href="#">download data</a></div>
</div>
<p>&nbsp;</p>