<h1>Download Cache</h1>
<% cache = @cache.get_cache %>
<ul>
<li>CSV: <%= cache[:csv].nil? ? 0 : cache[:csv].count %></li>
<li>XLS: <%= cache[:xls].nil? ? 0 : cache[:xls].count %></li>
<li>TEXT: <%= cache[:text].nil? ? 0 : cache[:text].count %></li>
</ul>
<h3><%= Rails.cache.read('key') %></h3>