<h3>No Source to Fix</h3>


<table>
	<tr>
		<td>
	<%= render :partial => 'investigate_queue', :locals => {
											:title => "Anything", 
											:count => @no_source.count,
											:description => "Anything",
											:queue => @no_source } %>	
		</td>

</tr>
</table>

