<h3>Log Investigation Findings</h3>
<a href="https://docs.google.com/spreadsheet/ccc?key=0Avab6X5RpThTdENNZTNENi1ocW1PcWRFNmVwTHA2MEE" target="_blank">Series Mismatch Investigations (Google Doc)</a>

<table>
	<tr>
		<td>
	<%= render :partial => 'investigate_queue', :locals => {
											:title => 'Maybe OK', 
											:count => @maybe_ok.count,
											:description => "No Missing Values, cumulative diff < 1.0",
											:queue => @maybe_ok }%>	
		</td>

		<td>
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Wrong', 
									:count => @wrong.count,
									:description => "No Missing Values, cumulative diff >= 1.0",
									:queue => @wrong }%>	
		</td>
		<td>
<div id="missing-low-to-high">
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Missing Low to High', 
									:count => @missing_low_to_high.count,
									:description => "Ascending Missing Values",
									:queue => @missing_low_to_high }%>	
		</td>
</tr>
</table>
