<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @update_info %></h1>
    <p>

       <% @update_summary.split("\n").each do |line| %>
       <%= line %><br />
		<% end %>

    </p>
  </body>
</html>