<form accept-charset="UTF-8" action="/series/transform" method="post">
		<div class="field">
			<label for="eval">Calculate</label>
			<input id="eval" name="eval" size="50" type="text" value=" " />
			<input id="submit_transformation" name="commit" type="submit" value="Show" />
		</div>
</form>
