
<style>
.ui-widget { display:inline; font-size: 10px}
.ui-autocomplete-loading {
background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
</style>
<script>
$(function() {
	function split( val ) {
		return val.split( /,\s*/ );
	}
	function extractLast( term ) {
		return split( term ).pop();
	}
	$( "#search_field" )
		// don't navigate away from the field on tab when selecting an item
		.bind( "keydown", function( event ) {
			if ( event.keyCode === $.ui.keyCode.TAB &&
				$( this ).data( "ui-autocomplete" ).menu.active ) {
					event.preventDefault();
				}
			})
		.autocomplete({
			source: function( request, response ) {
				$.getJSON( "/autocomplete", {
					term: extractLast( request.term )
				}, response );
			},
			search: function() {
				// custom minLength
				var term = extractLast( this.value );
				if ( term.length < 2 ) {
					return false;
				}
			},
			focus: function() {
				// prevent value inserted on focus
				return false;
			},
			select: function( event, ui ) {
				console.log("/series/"+ui.item.value)
				window.location.href = "/series/"+ui.item.value
				this.value = ui.item.label
				return false;
			}
		});
	});
</script>


<div class="ui-widget">
<input id="search_field" type="text" size="30" name="search"></input>
</div>





