<h1>New data_list</h1>
<strong>Instructions</strong>


<ol>
	<li>Select a name for your list</li>
	<li>Enter your list of series mnemonics, one per line, no commas</li>
	<li>Enter in the year you would like your data to begin (can support different date ranges later, but for now, just a single year value in the start year field)</li>
</ol>
<%= render 'form' %>

<%= link_to 'Back', data_lists_path %>
